.container {
    margin: 30px;
    border-radius:16px;
    position:relative;
}
.container_bg {
    position:absolute;
    border-radius:16px;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: linear-gradient(227.93deg, #311FCE 15.68%, #7A41F1 100%);    
    z-index:-2
}
.container_gif {
     /* Found this at : https://css-tricks.com/perfect-full-page-background-image/ */
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 1327px;
    height: 860px;
        
    /* Set up positioning */
    position: absolute;
    top: 10%;
    right: -23%;
    z-index: -1;
    /* filter:drop-shadow(0px 0px 1.75rem var(--green_color)) */
    
}

.container_content {
    width:fit-content;
    max-width:60%;
    padding: 65px 0px 65px 90px;
}

.container_content > h1{
    
    margin-bottom:30px;
}

.container_content > p{
    margin-bottom:80px;
}

/* ------------------------------------------ 
*  Responsive Grid Media Queries - 1280, 1024, 768, 480
*   1280-1024   - desktop (default grid)
*   1024-768    - tablet landscape
*   768-480     - tablet 
*   480-less    - phone landscape & smaller
* --------------------------------------------
*/
@media all and (min-width: 1480px) {
    .container_gif {
        top:-5%;
        right:-15%;
        height:1050px;
        width:1600px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container_gif {
        display:none;
    }

    .container_content {
        max-width:100%;
        padding: 65px 40px 65px 40px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .container_gif {
        display:none;
    }

    .container_content {
        max-width:100%;
        padding: 65px 40px 65px 40px;
    }

    .container_content > h1 {
        margin-bottom:90px;
    }
}

@media all and (max-width: 480px) {

    .container {
        margin: 15px;
        border-radius:16px;
        position:relative;
    }

    .container_gif {
        display:none;
    }

    .container_content {
        max-width:100%;
        padding: 65px 20px 65px 20px;
    }
}
