.container {
    text-align:center;
}

.container_logo_clients {
    margin: 70px auto 0px auto;
    width:100%;
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:auto;
}



/* ------------------------------------------ 
*  Responsive Grid Media Queries - 1280, 1024, 768, 480
*   1280-1024   - desktop (default grid)
*   1024-768    - tablet landscape
*   768-480     - tablet 
*   480-less    - phone landscape & smaller
* --------------------------------------------
*/
@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 0px;
    }
    .container_logo_clients {
        flex-wrap: wrap;
        justify-content:center;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .container {
        padding: 0px;
    }
    .container_logo_clients {
        flex-wrap: wrap;
        justify-content:center;
    }
}

@media all and (max-width: 480px) {
    .container {
        padding: 0px;
    }
    .container_logo_clients {
        flex-wrap: wrap;
        justify-content:center;
    }
}
