.logo_navbar {
    width:20px !important;
    height:20px !important;
}

.logo_clients {
    padding: 0px 32px;
    opacity: 0.7;
    transition: opacity 0.1s ease-in-out;
}

.logo_clients:hover {
    cursor: pointer;
    opacity:1;
}




/* ------------------------------------------ 
*  Responsive Grid Media Queries - 1280, 1024, 768, 480
*   1280-1024   - desktop (default grid)
*   1024-768    - tablet landscape
*   768-480     - tablet 
*   480-less    - phone landscape & smaller
* --------------------------------------------
*/
@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .logo_clients {
        padding: 30px 50px;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .logo_clients {
        padding: 15px 50px;
    }
}

@media all and (max-width: 480px) {
    .logo_clients {
        padding: 15px 10px;
    }
}
