.icon_dropdown {
    color: #FFFFFF;
    transition: 
        transform 0.2s ease-in-out,
    ;
    cursor:pointer;
    width:35px;
}

.icon_dropdown_inactive:hover {
    transform:translate(0px, -3px)
}

.icon_dropdown_active {
    transform: rotate(180deg);
    fill:#FFFFFF
}

.icon_dropdown_active:hover {
    transform:translate(0px, 3px) rotate(180deg)
}

.icon_socials_footer {
    color:white;
    height: 45px;
    width:auto !important;
    margin-right:60px;
}





/* ------------------------------------------ 
*  Responsive Grid Media Queries - 1280, 1024, 768, 480
*   1280-1024   - desktop (default grid)
*   1024-768    - tablet landscape
*   768-480     - tablet 
*   480-less    - phone landscape & smaller
* --------------------------------------------
*/
@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container{
        margin: unset;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .container{
        margin: unset;
    }
}

@media all and (max-width: 480px) {
    .container_question {
        width:92%;
    }


    .icon_socials_footer {
        height: 30px;
    }
}

